$main-bg: #F4F4F4;
$text-color: #21345A;
$box-color: #F1F8FC;
$placeholder-color: #A1A1A1;
$accent-color: #21345A;

%text-fonts {
    color: $text-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

%title-fonts {
    color: $text-color;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

%box-style {
    box-shadow: 4px 4px 11px rgba(182, 182, 182, 0.61), -4px -4px 12px rgba(255, 255, 255, 0.61);
    border-radius: 16px;
}